body {
    padding-top:  20px;
    padding-bottom: 0px;
}


.texto_busqueda{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
}

.texto_titulo{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    font-weight: bold;
    padding-top: 50px;
}

.img_logo{
    width: 158px;
}

.navbar.fixed-top {
    padding-right: 50px; 
    padding-left:  50px;
}  

.pagination-container {

    padding-top: 50px; 

}

texto{

    margin-bottom: 30px;
    font-weight: bold;
}

.tabla_espacio{
    margin-bottom: 30px;

}

.image-logo{
    margin-top: 10px;
    top: 10px; /* ajusta el valor según sea necesario */
    left: 20px; /* ajusta el valor según sea necesario */
    width: 200px; /* Define el ancho deseado */
}

/* Estilos para pantallas más pequeñas, como dispositivos móviles */
@media (max-width: 767px) {
    .image-logo {
        width: 120px; /* Reducir el tamaño para dispositivos móviles */
    }
}


.navbar-nav .nav-link {
    transition: font-size 0.3s ease; /* Agrega una transición para suavizar el cambio */
}

.navbar-nav .nav-link:hover {
    font-size: 140%; /* Aumenta el tamaño al 140% al pasar el mouse por encima */
}

.boton_enviar{
    margin-bottom:  40px;
    margin-top:  30px;
}


/*Estilos para inicio de sesion*/

.login-container {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
  }
  
  .login-form {
    margin: 0 auto;
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-form h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .login-form form {
    margin: 0 auto;
  }
  
  .login-form form label {
    display: block;
    margin-bottom: 5px;
    text-align: center;
  }
  
  .login-form form input[type="text"], .login-form form input[type="password"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 5px;
  }
  
  .login-form form input[type="submit"] {
    margin: 0 auto;
    width: calc(100%);
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: 1px solid #333;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
  }