.prueba{
    color: aquamarine;
}

.Centrar-tabla{
    padding-left: 10%;
    padding-right: 10%;
}

.marginar{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%;
    padding-top: 10%;
}